<footer>
    <div class="footer-60">
      <div class="footer-column" id="f-col-1">
        {{ site.title }}
      </div>
      <div class="footer-column" id="f-col-2">
        <ul>
          <li><a href="https://github.com/Screem-Sec/">{{ site.title }}</a></li>
          <li><a rel="me" href="https://infosec.exchange/@screem">Mastodon</a></li>
          <li><a href="mailto:{{ site.email }}">Email</a></li>
        </ul>
      </div>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
